*{
    margin: 0;
    padding: 0;
 }

 .collapse{
    margin-left:320px;
    
 }

 .btn{
    background-color:darkorange !important;
    border-radius: 20px !important;
    font-weight: 900;
 }
 

 .navbar{
    background-color: aqua !important;
 }

 .container-fluid{
   text-align: center;
   align-items: center;
 }

 .navbar-brand{
    font-weight: bold;
 }
 


 .lia{
    width: 30%;
    height: 4.5vh;
 }


 .btnn{
    background-color:aqua;
    width: 10%;
    height: 4.5vh;
    border-radius: 15px;
 }

 .bg-hero{
    height: 89vh !important;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .bg-head{
    box-shadow: 10px 10px 10px rgb(209, 208, 208);
    border-radius: 15px;
 }

 .bg-cour{
    font-weight: 750;
 }


 .bg-co{
    font-weight: 800;
    
 }

.carde{
    margin-left: 40%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(161, 159, 159);
}
